{% extends "base.html" %}

{% block title %}
    O nás
{% endblock %}

{% block left_sidebar %}
    <p>Tu je left sidebar…</p>
{% endblock %}

{% block content %}
    <h1>O nás</h1>
    <p>Vítejte v naší knižní databázi, unikátní platformě, která slouží k objevování
        a sdílení informací o knihách z celého světa. Naším cílem je přiblížit literaturu
        každému, kdo má zájem o čtení a vzdělávání.</p><br>
    <h1>Historie</h1>
    <p>Naše databáze byla založena v roce 2025 dvěma vášnivými milovníky knih, kteří se rozhodli
        sdílet svoji vášeň s ostatními. Od malého blogu jsme vybudovali obrovskou databázi
        s tisíci záznamy a recenzemi.</p><br>
    <h1>Spolupráce a partnerství</h1>
    <p>Pokud máte zájem o spolupráci s naší databází, nabízíme možnost aktivního zapojení se
        do rozvoje naší platformy. Můžete přispívat k jejímu obsahu tím, že budete mít možnost
        editovat existující záznamy, přidávat nové knihy a zapojovat se do dalších aktivit, které
        pomohou naší stránce růst a zlepšovat se. V případě zájmu o spolupráci, prosím klikni ZDE,
        kde najdete formulář k vyplnění. Tento formulář následně přezkoumáme a budeme
        Vás kontaktovat s dalšími informacemi. Těšíme se na možnost spolupráce.</p>
{% endblock %}

{% block right_sidebar %}
    <p>Tu je right sidebar</p>
{% endblock %}

{% include "footer.html" %}
