{% extends "base.html" %}

{% block title %}
    {{ publisher.name }}
{% endblock %}

{% block left_sidebar %}
    <p>Tu je left sidebar…</p>
{% endblock %}

{% block content %}
    <h1>{{ publisher.name }}</h1>
    <h3>{% if publisher.year_of_dissolution %}
        ( {{ publisher.year_of_establishment }}-{{ publisher.year_of_dissolution }} )
        {% else %}
        ( {{ publisher.year_of_establishment }} )
    {% endif %}</h3>
    <a href="{{ publisher.link }}">{{ publisher.link }}</a>
    <br><a>{{ publisher.information }} </a><br>
    {% if perms.viewer.change_publisher %}
    <a href="{% url 'publisher_update' publisher.id %}" class="btn btn-primary">Aktualizovat</a>
    {% endif %}
    {% if perms.viewer.delete_publisher %}
    <a href="{% url 'publisher_delete' publisher.id %}" class="btn btn-danger">Smazat</a>
    {% endif %}
{% endblock %}

{% block right_sidebar %}
    <p>Tu je right sidebar</p>
{% endblock %}

{% include "footer.html" %}
