{% extends "base.html" %}

{% block title %}
    Seznam knih
{% endblock %}

{% block left_sidebar %}
    <p>Tu je left sidebar…</p>
{% endblock %}

{% block content %}
    <h1>Seznam nakladatelství</h1>
    <ul>
        {% for publisher in publishers %}
            <li>
                <a href="{% url 'publisher' publisher.id %}">{{ publisher }}</a>
            </li>
        {% endfor %}
    </ul>
    {% include 'paginator.html' %}
{% endblock %}


{% block right_sidebar %}
    <p>Tu je right sidebar</p>
{% endblock %}

{% include "footer.html" %}

