{% extends "base.html" %}

{% block title %}
    Formulář
{% endblock %}

{% block content %}
<div style="max-width: 600px; margin: 40px auto; padding: 30px; border-radius: 10px; box-shadow: 0 0 15px rgba(0,0,0,0.1); background-color: white;">
    <h2 style="text-align: center; margin-bottom: 25px;">
        {{ form_title|default:"Formulář" }}
    </h2>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}


        {% if form.non_field_errors %}
            <div style="color: red; margin-bottom: 15px;">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
            {{ field }}<br><br>
        {% endfor %}

        <button type="submit" style="width: 100%; padding: 10px; background-color: black; color: white; border: none; border-radius: 5px;">
            {{ submit_button_text|default:"Uložit" }}
        </button>
    </form>
</div>

{% endblock %}
