{% load static %}
<!-- Horný navigačný pás -->
<div class="bg-white py-2">
    <div class="container d-flex justify-content-center" style="font-size: 20px; gap: 60px;">
        <a class="text-dark text-decoration-none" href="{% url 'books' %}">Knihy</a>
        <a class="text-dark text-decoration-none" href="{% url 'authors' %}">Autoři</a>
        <a class="text-dark text-decoration-none" href="{% url 'publishers' %}">Nakladatelství</a>
        <a class="text-dark text-decoration-none" href="#" onclick="openLoginModal()">Přihlášení</a>
        <a class="text-dark text-decoration-none" href="{% url 'about' %}">O nás</a>

       {% if request.user.is_authenticated %}
        {% for group in request.user.groups.all %}
        {% if group.name == "Partners" %}
            <a class="text-dark text-decoration-none" href="{% url 'data_entry' %}">Pridávanie údajov</a>
        {% endif %}
    {% endfor %}
    {% if request.user.is_staff %}
        <a class="text-dark text-decoration-none" href="{% url 'data_entry' %}">Pridávanie údajov</a>
    {% endif %}
{% endif %}
    </div>
</div>




<!-- Stredný pás: logo + info -->
<div class="bg-white py-3">
    <div class="container d-flex justify-content-between align-items-center">

        <!-- Ľavá časť -->
        <div class="text-start">
            {% if user.is_authenticated %}
                Jsi přihlášen jako <strong>{{ user.username }}</strong><br>
                <a href="{% url 'profile' user.id %}" style="text-decoration: none; color: inherit;">Profil</a><br>
                <a href="{% url 'logout' %}" style="text-decoration: none; color: inherit;">Odhlásit</a>
            {% else %}
                Nepřihlášený uživatel
            {% endif %}
        </div>

        <!-- Stredná časť (logo + názov) -->
        <div class="text-center">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/Logo.png' %}" alt="Logo" style="height: 150px;">
            </a>
        </div>

        <!-- Pravá časť -->
        <div class="text-end">
            Dnes je {{ today }}<br>
            Svátek má {{ name_day }}
        </div>

    </div>
</div>

<!-- Spodný pás: vyhľadávací panel -->
<div class="bg-white py-3">
    <div class="container d-flex justify-content-center align-items-center flex-wrap gap-2">

        <!-- Vyhľadávanie -->
        <form method="get" action="{% url 'search' %}" class="d-flex w-50">
            <input type="text" name="q" class="form-control" placeholder="Vyhledat" value="{{ request.GET.q }}" required>
            <button type="submit" class="btn btn-outline-secondary mx-2">Vyhledat</button>
        </form>

        <!-- Náhodná kniha -->
        <a href="{% url 'random_book' %}" class="btn btn-outline-secondary mx-2">Náhodná kniha</a>

    </div>
</div>
